<footer class="footer">
	<small><%= link_to "&copy; Abhijeet".html_safe, "http://abhijeet.pro/", target: "__blank" %></small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "Rails news", "http://news.railstutorial.org/", target: "__blank" %></li>
		</ul>
	</nav>
</footer>